SECRET_KEY=change-me-to-random-string
DEBUG=True
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=db.sqlite3

# PostgreSQL uchun (Docker bilan ishlatilsa):
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=london_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=db
# DB_PORT=5432